.App {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contactsBody {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 500px;
}

.contactsTop {
    display: flex;
    flex-direction: row;
    margin-bottom: 15px;
    justify-content: space-between;
    width: 100%;
}
